.btn-game {
  background-color: #ff8b37;
  font-size: 20px;
  font-weight: 600;
  font-style: 20px;
  color: #fff;
  width: 296px;
  height: 64px;
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;

  transition: background-color ease 0.3s;
}

.btn-game:hover {
  background-color: #ffac70;
}

.btn-game:active {
  background-color: #e87928;
}

@media (max-width: 450px) {
  .btn-game {
    width: 288px;
    height: 48px;
  }
}
