.quiz-container {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f7;
  display: flex;
}

.quiz-game {
  width: 73%;
  /* flex-basis: 73%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-game__title {
  width: 75%;
  font-size: 32px;
  font-weight: 600;
  margin-top: 133px;
}

.quiz-game__questions {
  max-width: 844px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.quiz-stage {
  /* width: 27%; */
  flex-basis: 27%;
  height: 100vh;
  background-color: #fff;
}

@media (max-width: 1000px) {
  .quiz-game__title {
    width: 100%;
    font-size: 24px;
  }
  .quiz-game__questions {
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .quiz-game {
    width: 100%;
  }
  .quiz-container {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f7;
    position: relative;
    overflow: hidden;
  }

  .game-container {
    width: 80%;
  }

  .quiz-game__title {
    width: 100%;
    font-size: 18px;
  }
  .quiz-game__questions {
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {
  .quiz-game__questions {
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
}
